.divClass h1{
    color: cadetblue;
}
#thirdDiv {
    background-color: darkgray;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 1px solid steelblue;
}
#thirdDiv ul li a img{
    width: 400px;
} 
#spanId{
    font-size: 18px;
    margin: 50px;
}